.general-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: Aial, sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sec-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec-1 .text{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 35px;
    color: wheat;
}
.layer-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: rgb(135, 253, 243);
    margin-top: 20px;
}
.sec-2 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-size: 30px;
    margin-bottom: 10px;
}
.layer-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(95, 243, 95);
    margin-top: 10px;
    margin-bottom: 15px;
}
.continue-btn{
    background-color: black;
    color: rgb(94, 216, 253);
    font-weight: 500;
    padding: 6px 9px;
    border-radius: 9px;
    border-width: 1px;
    border-color: aqua;
    border-style: solid;
    box-shadow: 0 0 5px lightblue;
    transition: box-shadow 0.25s,
    border-color 0.25s,
    background-color 0.200s,
    color 0.200s;
    cursor: pointer;
}
.continue-btn:hover{
    border-color: cyan;
    box-shadow: 0 0 10px cyan;
}
.continue-btn:active{
    background-color: cyan;
}
a{
    text-decoration: none;
    color: rgb(94, 216, 253);
}
