body{
    background: linear-gradient(135deg,#000428, #004e92);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
.center{
    position: relative;
}
/* for magic */
.magic-btn{
    position: relative;
    padding: 18px 45px;
    font-size: 1.1rem;
    color: #fff;
    background: linear-gradient(90deg, #0ff, #07f);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s ease;
    z-index: 1;
    animation: bounce 3s infinite ease-in-out alternate;
}
/* glow border circulation effect*/
.magic-btn::before{
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 50px;
    padding: 3px;
    background: linear-gradient(90deg,#ff4b2b,#ff216c, #00dbde, #fc00ff, #ff4b2b);
    background-size: 400%;
    animation: border-flow 6s linear infinite;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}
/*hover effect*/
.magic-btn:hover{
    animation: bounce 0.6s ease, glow 3s ease-in-out infinite alternate;
    transform: scale(1.05);
    transform: scale(1.08);
    background: linear-gradient(45deg,#00dbde, #fc00ff);
    box-shadow: 0 0 25px rgba(0, 219, 222, 0.5);
    transform: translateY(-5px);
    transition: transform 0.2s ease;
    animation: jump 0.6s ease;
}
/* glowing pulse effect*/
@keyframes glow{
    0%{
        box-shadow: 0 0 10px #0ff, 0 0 20px #07f;
    }
    100%{
        box-shadow: 0 0 25px #0ff, 0 0 40px #07f;
    }
}
/* keyframe animations*/
@keyframes borderflow {
    0%{background-position: 0% 50%;}
    100%{background-position: 400% 50%;}
}
@keyframes jump {
    0%, 10%{transform: scale(1);
    box-shadow: 0 0 20px rgba(225, 65, 108, 0.3);}
    50%{transform: scale(1.05);
    box-shadow: 0 0 40px rgba(255, 65, 108, 0.6);}  
}
@keyframes bounce{
    0%{transform: translateY(0);}
    30%{transform: translateY(-10px);}
    50%{transform: translateY(0);}
    70%{transform: translateY(-5px);}
    100%{transform: translateY(0);}
}

.continue-btn{
    background-color: black;
    color: rgb(94, 216, 253);
    font-weight: 500;
    padding: 6px 9px;
    border-radius: 9px;
    border-width: 1px;
    border-color: aqua;
    border-style: solid;
    box-shadow: 0 0 5px lightblue;
    transition: box-shadow 0.25s,
    border-color 0.25s,
    background-color 0.200s,
    color 0.200s;
    cursor: pointer;
    display: flex;
}
.continue-btn:hover{
    border-color: cyan;
    box-shadow: 0 0 10px cyan;
}
.continue-btn:active{
    background-color: cyan;
}
a{
    text-decoration: none;
    color: rgb(94, 216, 253);
}
.continue-btn-container{
    position: fixed;
    bottom: 100px;
    right: 20px;
}
