body{
    font-family: Roboto,Arial;
    min-height: 100%;
    scroll-behavior: smooth;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
    height: 850px;
}  
.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;  
}
.text1{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.text2{
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}
.text3{
    color: pink;
    font-size: 21px;
    margin-bottom: 6px;
}
.text4{
    color: pink;
    font-size: 20px;
    margin-bottom: 10px;
}
.text5{
    color: lightblue;
    font-size: 20px;
    margin-bottom: 10px;
}
.continue-btn{
    background-color: black;
    color: rgb(94, 216, 253);
    font-weight: 500;
    padding: 6px 9px;
    border-radius: 9px;
    border-width: 1px;
    border-color: aqua;
    border-style: solid;
    box-shadow: 0 0 5px lightblue;
    transition: box-shadow 0.25s,
    border-color 0.25s,
    background-color 0.200s,
    color 0.200s;
    cursor: pointer;
}
.continue-btn:hover{
    border-color: cyan;
    box-shadow: 0 0 10px cyan;
}
.continue-btn:active{
    background-color: cyan;
}
a{
    text-decoration: none;
    color: rgb(94, 216, 253);
}
 
   